.navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .logo {
    color: white;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-links a:hover {
    color: #007bff;
}

.navbar-socials {
    display: flex;
    gap: 20px;
    
}

.social-icon {
    color: white;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #007bff;
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
    }
}